<%= render 'layouts/header' %>
<br>

<p id="notice"><%= notice %></p>
<br>

<h1>Announcements</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Text</th>
      <th>Author_ID</th>
      <th>Author_Name</th>

      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td>
          <img style="width: 150px;" src="<%= announcement.picture %>"/>
        </td>
        <td><%= announcement.text %></td>
        <td><%= announcement.user_id %></td>
        <td>
          <% @users.each do |u| %>
            <% if(u.id == announcement.user_id) %>
              <%= u.login %>
            <% end %>
          <% end %>
        </td>

        <td><%= link_to 'Show', announcement %></td>
        <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
        <td><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Announcement', new_announcement_path %>
