
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

<script>
    function deleteComment(id)
    {
        $.ajax({
            url: 'http://localhost:3000/comments/'+ id,
            method: 'delete',
            dataType: 'json' }
        )
        alert("Comment with ID = "+ id +" was sucsessfully deleted!");
    }

    function onPClick()
    {
        //alert("You clicked on P teg.");
        //setTimeout(showComments, 1000);
    }

    function showComments() {
        //alert("Show comments!")
        $("#comments").empty();

        $.ajax('http://localhost:3000/comments.json', {
            success: function (data){
                data.forEach(comment => {
                    const li = document.createElement('li');
                    li.textContent = "ID - " + comment.id + "; Author - "+comment.user_id+"; Text - "+comment.text;
                    document.querySelector('#comments').append(li);
                } )
            }
        });
    }

    showComments();
</script>

<%= render 'layouts/header' %>
<br>

<p id="notice"><%= notice %></p>

<div>
  <img style="width: 400px;" src="<%= @announcement.picture %>"/>
</div>

<p>
  <strong>Text:</strong>
  <%= @announcement.text %>
</p>

<p>
  <strong>Author:</strong>
  <% @users.each do |u| %>
    <% if(u.id == @announcement.user_id) %>
      <%= u.login %>
    <% end %>
  <% end %>
</p>


<h2>Comments</h2>
<div>
  <% @announcement.comments.each do |comment| %>
    <div style=" background-color: #BBBBBB">
      <p style="margin-left: 5px;">
        <strong>Author:</strong>
        <% @users.each do |u| %>
          <% if(u.id == comment.user_id) %>
            <%= u.login %>
          <% end %>
        <% end %>
      </p>

      <p style="margin-left: 12px;">
        <%= comment.text %>
      </p>

      <!--button style="margin-left: 5px;" id="DeleteComment" onclick="deleteComment('<-%= comment.id %>')">Delete comment</button-->
      <p>
        <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit', edit_comment_path(comment) %>
      </p>

    </div>

  <% end %>

</div>

<br>
<p>Here you can add your comment:</p>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_announcement_path(@announcement) %>


<!--%= link_to 'Back', announcements_path %-->






